#clock {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 20px auto 0 auto;
    background: url(../img/clockface.jpg);
    list-style: none;
    background-repeat:no-repeat;
}

#sec, #min, #hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: 0px;
    left: 285px;
}

#sec {
    background: url(../img/sechand.png);
    z-index: 3;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#min {
    background: url(../img/minhand.png);
    z-index: 2;
}

#hour {
    background: url(../img/hourhand.png);
    z-index: 1;
}